.logo {
	font-size: 9px;
	//font-family: mono;
	white-space: pre;
	line-height: 1;
}

//Robotics Stylesheet
body{
	font-family: 'Roboto Mono', monospace;
  background-color: linear-gradient(#181e24,#232c33);
}
html {
	background-color:  #232c33;
}

#numbar{
	background-color: #181e24;
	font-family: 'Roboto Mono', monospace;
	color: #414141;
	float:left;
	width:20px;
	line-height: 25px;
	//font-size:20pt;
	//line-spacing:1;
	text-align: right;
	position:absolute;
	left:0px;
}

#content{
	float:right;
	font-family: 'Roboto Mono', monospace;
	//width:98%;
	line-height: 25px;
	//font-size:20pt;
	line-spacing:1;
	//right:0px;
  background-color: linear-gradient(#181e24,#232c33);
	color: #aab6cc;
	left:25px;
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
}

#console{
	text-size:10pt;
	font-family: 'Roboto Mono', monospace;
	color:#ffffff;
	background-color: #000037;
	//width:25px;
	//height:25px;
	position:fixed;
	overflow-y:hidden;
	overflow-x:hidden;
	padding:10px;
	bottom:4%;
	right: 4%;
	border:#37ff00 1px solid;
	opacity:0.9;
}

	//The following styles are modified from <OPEN SOURCE WEBSITE HERE>
a.link {
	color: #fffff;
	text-decoration: none;
}
#a {
	color: #84d433;
}
#c {
	color: #00bbcc;
}
#b {
	color: #ff0096;
}
