/*
SOLARIZED HEX     16/8 TERMCOL  XTERM/HEX   L*A*B      sRGB        HSB
--------- ------- ---- -------  ----------- ---------- ----------- -----------
base03    #002b36  8/4 brblack  234 #1c1c1c 15 -12 -12   0  43  54 193 100  21
base02    #073642  0/4 black    235 #262626 20 -12 -12   7  54  66 192  90  26
base01    #586e75 10/7 brgreen  240 #4e4e4e 45 -07 -07  88 110 117 194  25  46
base00    #657b83 11/7 bryellow 241 #585858 50 -07 -07 101 123 131 195  23  51
base0     #839496 12/6 brblue   244 #808080 60 -06 -03 131 148 150 186  13  59
base1     #93a1a1 14/4 brcyan   245 #8a8a8a 65 -05 -02 147 161 161 180   9  63
base2     #eee8d5  7/7 white    254 #d7d7af 92 -00  10 238 232 213  44  11  93
base3     #fdf6e3 15/7 brwhite  230 #ffffd7 97  00  10 253 246 227  44  10  99
yellow    #b58900  3/3 yellow   136 #af8700 60  10  65 181 137   0  45 100  71
orange    #cb4b16  9/3 brred    166 #d75f00 50  50  55 203  75  22  18  89  80
red       #dc322f  1/1 red      160 #d70000 50  65  45 220  50  47   1  79  86
magenta   #d33682  5/5 magenta  125 #af005f 50  65 -05 211  54 130 331  74  83
violet    #6c71c4 13/5 brmagenta 61 #5f5faf 50  15 -45 108 113 196 237  45  77
blue      #268bd2  4/4 blue      33 #0087ff 55 -10 -45  38 139 210 205  82  82
cyan      #2aa198  6/6 cyan      37 #00afaf 60 -35 -05  42 161 152 175  74  63
green     #859900  2/2 green     64 #5f8700 60 -20  65 133 153   0  68 100  60
*/

.logo {
	font-size: 9px;
	/*font-family: mono;*/
	white-space: pre;
	line-height: 1;
}

body {
	font-family: 'Anonymous Pro', monospace;
	color: black;
	background-image: linear-gradient(#002b36,#073642,#002b36);
	height: 100vh;
	top: 0px;
	right:0px;
	overflow-x:hidden;
}

/* Home page styling */
.homeHeader {
	font-family: 'Inconsolata',monospace;
	color: #e5f0ff;
	text-align:center;
	font-size:44pt;
	line-height:40pt;
	position:relative;
	top:15pt;
	clear:both;

}

.homeSubHeader {
	font-family: 'Inconsolata',monospace;
	color: #93a1a1;
	text-align:center;
	font-size:20pt;
	line-height:28pt;
	position:relative;
	/*top:15pt;*/
	clear:both;

}

.homeContent{
	padding-left:15%;
	padding-right:15%;
	font-size:14pt;
	padding-top: 0%;
	/*padding-bottom:30%;*/
	font-family: 'Inconsolata',monospace;
	line-height: 25px;
}

.homeImageHeadLeft{
	padding-left:0%;
	padding-right:10%;
	font-size:18pt;
	padding-top: 3%;
	padding-bottom:0%;
	font-family: 'Bitter', serif;
	line-height: 30px;
	text-align: left;
}

.homeImageHeadRight{
	padding-left:10%;
	padding-right:0%;
	font-size:18pt;
	padding-top: 3%;
	padding-bottom:0%;
	font-family: 'Bitter', serif;
	line-height: 30px;
	text-align: right;
}

.homeInfoLeft {
	float: left;
	width:85%;
	left: 3%;
	position:relative;
	text-align:left;
	clear:right;
	padding-bottom: 60px;
}

.homeInfoRight{
	float: right;
	width:85%;
	right:3%;
	position: relative;
	text-align:right;
	clear:left;
	padding-bottom: 60px;
}

.homeImageContainerRight{
	float:inherit;
	width:250px;
	height:250px;
	position: relative;
	padding-left:22%;
	padding-right:0px;
}

.homeImageContainerLeft{
	float:inherit;
	width:250px;
	height:250px;
	position: relative;
	padding-left:0px;
	padding-right:22%;
}

.homeImage{
	width:225px;
	height:225px;
}

.footer{
	width:100%;
	bottom:0px;
	/*	background-color: (0,0,0,0);/*#002b36;*/
	font-family: 'Inconsolata',monospace;
	clear:both;
	left:0px;
	padding-bottom: 5px;
	padding-top: 0px;
	text-align: center;

	}
	a.footer{
		color:#93a1a1;
		text-decoration: underline;
	}

	a.footer:hover{
		color: #e5f0ff;
		text-decoration: underline;
	}

	#footerLink{
		text-decoration: underline;
	}

/*Team page styles*/
.teamHeader{
		font-family: 'Inconsolata',monospace;
		color: #e5f0ff;
		text-align:center;
		font-size:36pt;
		line-height:20pt;
		position:relative;
		top:5pt;
		clear:both;
	}

.teamInfoLeft{
	/*display:inline-block;*/
	float: left;
	width:60%;
	left: 3%;
	/*	height:400px;*/
	/*	border: 1px #ffffff solid;*/
	/*top: 5px;*/
	position:relative;
	/*	background-color:#000000;*/
	text-align:left;
	clear:right;
	padding-left: 100px;
	}

.teamInfoRight{
	/*display:inline-block;*/
	float: right;
	right:3%;
	width:60%;
	/*	height:400px;*/
	/*top: 5px;*/
	/*	border: 1px #ffffff solid;*/
	position: relative;
	/*	background-color:#000000;*/
	text-align:right;
	clear:left;
	padding-right: 100px;
}
.userNameAndImage{
	float:inherit;
	width:205px;
	height:250px;
	position: relative;
	padding-left:5px;
	padding-right:5px;
}
.userImage{
	width:200px;
	height:200px;
}

.userName{
	text-align:center;
	font-family:'Anonymous Pro', monospace;
	font-size:18pt;
	top:5px;
}
.userContent{
	padding-left:25%;
	padding-right:25%;
	font-size:16pt;
	font-family: 'Inconsolata',monospace;
	padding-bottom:10px;
}

/* Gallery */

.homeHeader {
	font-family: 'Inconsolata',monospace;
	color: #e5f0ff;
	text-align:center;
	font-size:48pt;
	line-height:40pt;
	position:relative;
	top:15pt;
	clear:both;
}

.galleryImageContiner {
	height:400px;
	width:100%;
}

div.galleryImageLeft {
	margin-top:5%;
	margin-left:13%;
	float:left;
	overflow:hidden;

	width:400px;
	height:400px;
}

div.galleryImage {
	margin-top:5%;
	margin-left:5%;
	float:left;
	overflow:hidden;

	width:400px;
	height:400px;

	border: 2px solid #000000;
}

img.galleryP {
	max-width:100%;
	height:auto;
	width:auto;
}

img.galleryL {
	max-height:100%;
	height:auto;
	width:auto;
}


/*General*/

#numbar{
	background-color: #002b36;
	font-family: 'Anonymous Pro', monospace;
	color: #586e75;
	float:left;
	width:20px;
	line-height: 25px;
	text-align: right;
	position:absolute;
	left:0px;
	top:0px;
	padding-top:8px;
	bottom:0px;
	height: 100%;
	box-shadow:0px 0px 2px 2px #002b36;
}

#content{
	float:right;
	font-family: 'Inconsolata', monospace;
	width:100%;
	line-height: 25px;
	/*font-size:20pt;*/
	line-spacing: 1;
	/*right:0px;*/
	color: #93a1a1;
	left:30px;
	right:0px;
	position:absolute;
	overflow-x:hidden;
	overflow-y:scroll;
	padding-Right:1cm;
}

div.container {
	margin-left: 5%;
	margin-right: 5%;
	border: #000000 1px solid;
	margin-bottom: 15px;
	padding:10px;
}

#console{
	text-size:10pt;
	font-family: 'Anonymous Pro', monospace;
	color:#ffffff;
	background-color: #002b36;
	/*width:25px;*/
	/*height:25px;*/
	position:fixed;
	overflow-y:hidden;
	overflow-x:hidden;
	padding:10px;
	bottom:4%;
	right: 4%;
	border:#859900 1px solid;
	opacity:0.9;
}

a:link{
	color: #ffa503;
	text-decoration: none;
}
a:visited{
	color: #fffff;
	text-decoration: none;
}
a:hover{
	color: #ff0000;
}
a:active{
	color:#ff0000;
}
.a {
	color: #84d433;
}
.c {
	color: #00bbcc;
}
.b {
	color: #ff0096;
}

.teamTitle {
	color: white;
}
