//Stylesheet
body{}
body{
	background-color: #000000;
	font-family: mono, courier;
}
.bigBox{
	margin: auto;
	position: absolute;
	left: 1%;
	bottom: 3%;
	top: 5%;
//	display:inline-block;
	width: 60%;
	height: 92%;
	border: 0.5px solid #a7a7a7;
	background-color: #212121;
	color: #37ff00;
	font-family:monospace, courier;
	font-size:20px;
	overflow-y: auto;
	padding-left:10px;
	padding-right: 10px;
}

.smallBoxTop{
	margin:auto;
	position: absolute;
	//bottom:52%;
	top:5%;
	right: 1%;
	width: 35%;
	height: 45%;
	border: 0.5px solid #a7a7a7;
	background-color: #212121;
	color: #37ff00;
	font-family: monospace, courier;
	font-size: 5px;
	line-height: 0.5;
	text-align:center;
	white-space: pre;
	overflow-y: auto;
}

.smallBoxBottom{
	margin:auto;
	position: absolute;
	bottom:3%;
	right: 1%;
	width: 35%;
	height: 45%;
	border: 0.5px solid #a7a7a7;
	background-color: #212121;
	color: #37ff00;
	font-family: monospace, courier;
	font-size: 20px;
	overflow-y: auto;
}

.locationBar{
	margin:auto;
	top: 1%;
	position: absolute;
	height: 3%;
	width: 98%;
	left:1%;
	border: 0.5px solid #a7a7a7;
	color: #37ff00;
	background-color:#212121;
	font-family: monospace, courier;
	font-size: 14px;
	padding-left: 10px;
}

p.centralBox{
	text-size: 16px;
}

h1.centralBox{
	text-size: 20px;
}

a:hover{
	background-color:#ff0088;
}
